<%= simple_form_for(@kid) do |f| %>
  <%= f.error_notification %>

  <%= f.input :name, wrapper: :prepend, label: false do %>
    <span class="add-on"><i class="icon-user"></i></span>
    <%= f.input_field :name, placeholder: "なまえ（ローマ字）", autofocus: true %>
  <% end %>
  <%= f.input :charactor_img, wrapper: :prepend, label: false do %>
    <span class="add-on"><i class="icon-camera"></i></span>
    <%= f.input_field :charactor_img, placeholder: "画像のURL" %>
  <% end %>

  <div class="form-actions">
    <%= button_tag type: 'submit', class: 'btn btn-large btn-success' do %>
      <i class="icon-ok"></i>&nbsp;Save
    <% end %>
  </div>
<% end %>
