<h1>Listing kids</h1>

<table>
  <tr>
    <th>Family</th>
    <th>Name</th>
    <th>Charactor img</th>
    <th>Created at</th>
    <th>Updated at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @kids.each do |kid| %>
  <tr>
    <td><%= kid.family_id %></td>
    <td><%= kid.name %></td>
    <td><%= kid.charactor_img %></td>
    <td><%= kid.created_at %></td>
    <td><%= kid.updated_at %></td>
    <td><%= link_to 'Show', kid %></td>
    <td><%= link_to 'Edit', edit_kid_path(kid) %></td>
    <td><%= link_to 'Destroy', kid, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Kid', new_kid_path %>
