<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <h2>新規アカウント作成</h2>
  <hr>
  <% if notification = f.error_notification %>
    <%= notification %>
  <% end %>

  <%= f.input :email, input_html: { autofocus: true } %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>

  <div class="form-actions">
    <%= f.submit "アカウント作成", class: "btn btn-large btn-success" %>
  </div>
<% end %>
