<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <% if notification = f.error_notification %>
    <div class="alert alert-error fade in">
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      <%= notification %>
    </div>
  <% end %>

  <h2>ログイン</h2>
  <hr>

  <%= f.input :email, input_html: { autofocus: true } %>
  <%= f.input :password %>

  <% if devise_mapping.rememberable? -%>
    <%= f.input :remember_me, as: :boolean %>
  <% end -%>

  <div class="form-actions">
    <%= f.submit "ログイン", class: "btn btn-large btn-success" %>
  </div>
<% end %>
