<%= link_to root_path do %>
  <%= image_tag('back_btn.png', class: "pull-left back-btn") %>
<% end %>
<h2>ログイン</h2>
<hr>
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <% if notice or alert %>
    <div class="alert alert-error"><%= notice %><%= alert %></div>
  <% end %>

  <%= f.input :email, input_html: { autofocus: true } %>
  <%= f.input :password %>

  <% if devise_mapping.rememberable? -%>
    <%= f.input :remember_me, as: :boolean %>
  <% end -%>

  <div class="form-actions">
    <%= f.submit "ログイン", class: "btn btn-large btn-success" %>
  </div>
<% end %>
