<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @word.name %>
</p>

<p>
  <b>Level:</b>
  <%= @word.level %>
</p>

<p>
  <b>Group:</b>
  <%= @word.group %>
</p>


<%= link_to 'Edit', edit_word_path(@word) %> |
<%= link_to 'Back', words_path %>
